.header {
    justify-content: space-between;
}
#show-nav {
    display: none;
}
.overlay {
    width: 100%;
    position: static;
    background-color: transparent;
}
.fa-times {
    display: none;
}
.overlay-box {
    height: 0;
    padding: 0;
}
.overlay-content {
    height: 66px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.overlay-content__item {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
.grid-welcome-container {
    grid-template: 1fr / 1fr 1fr;
    padding: 80px 0;
}
.welcome-content-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.see-more-container {
    padding-top: 50px;
}
.projects-title {
    padding-top: 60px;
    height: 150px;
}
.contact-title {
    height: 250px;
    padding-top: 100px;
}
.grid-contact-container {
    grid-template: 1fr 1fr / 410px 410px;
    grid-template-areas: "whatsapp form"
                         "email form";
    gap: 40px 40px;
    justify-content: center;
}
.contact-whatsapp {
    width: 100%;
    height: 100%;
    grid-area: whatsapp;
}
.contact-email {
    width: 100%;
    height: 100%;
    grid-area: email;
}
.contact-form {
    width: 100%;
    grid-area: form;
}