* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {

    /* Paleta de colores del proyecto  */

    --green: #00ffce;
    --header-background: #1d1d1b;
    --welcome-background: #212429;
    --see-more-background: #1c1f23;
    --see-more-text: #99a9b5;
    --projects-background: #f1f1f1;
    --contact-card-background: #212429;
    --whatsapp-button: #1ebea5;
    --email-button: #4285f4;
    --footer-background: #0c0e0f;
}
/* @font-face {
    font-family: "Bebas";
    src: url("../fonts/Bebas/BebasNeue-Regular.ttf");
} */
@font-face {
    font-family: "Champagne";
    src: url("../fonts/Champagne/Champagne.ttf");
}
html {
    font-size: 62.5%;
    font-size: 1.6rem;
    font-family: "Champagne", Arial;
    scroll-behavior: smooth;
}
button {
    outline: none;
}
header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 66px;
    min-width: 320px;
    background-color: var(--header-background);
}
.header {
    width: 90%;
    display: flex;
    align-items: center;
}
.fa-bars {
    color: white;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    overflow-x: hidden; 
    transition: 0.3s;
}
.fa-times {
    font-size: 1.4rem;
    color: white;
}
.overlay-box {
    height: 100%;
    padding: 20px;
}
.overlay-content {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 30px; */
}
.overlay-content__item {
    text-decoration: none;
    color: white;
    margin: 10px 0;
    font-size: 1.2rem;
}
/* .logo {
    text-decoration: none;
    margin-left: 10px;
    font-family: "Bebas", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: var(--green)
} */
.logo-img {
    width: 65%;
    max-width: 200px;
    margin-left: 7px;
}
.main-container {
    width: 100vw;
    min-width: 320px;
}

/* Welcome section */

.welcome-section {
    width: 100%;
    background-color: var(--welcome-background);
    color: white;
}
.grid-welcome-container {
    display: grid;
    justify-items: center;
    gap: 30px 0;
    grid-template: auto / 1fr;
    padding-top: 25px;
}
.welcome-illustration {
    width: 90%;
}
.welcome-illustration img {
    width: 100%;
}
.welcome-content {
    width: 87%;
    /* display: flex;
    flex-wrap: wrap;
    margin-left: 30px; */
    justify-items: center;
}
.welcome-greetings {
    font-size: 1.3rem;
    font-weight: lighter;
}
.welcome-title {
    margin: 10px 0;
    font-size: 1.7rem;
    font-weight: lighter;
}
.welcome-text {
    font-size: 0.8rem;
}
.welcome-buttons-container {
    display: flex;
    margin-top: 25px;
    margin-bottom: 75px;
}
.welcome-cv-button {
    display: flex;
    width: 145px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
    background-color: var(--green);
    border-radius: 50px;
}
.welcome-contact-button {
    display: flex;
    width: 130px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: var(--green);
    text-decoration: none;
    border: 1px solid var(--green);
    border-radius: 50px;
}
.see-more-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    background-color: var(--see-more-background);
}
.see-more-link {
    text-decoration: none;
}
.see-more__text {
    font-size: 0.8rem;
    color: var(--see-more-text);
}
.fa-chevron-down {
    font-size: 1.5rem;;
    color: var(--green);
}

/* Projects section  */

.projects-section {
    width: 100%;
    min-width: 320px;
    background-color: var(--projects-background);
}
.projects-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    padding-top: 30px;
    color: white;
    background-color: var(--see-more-background);
}
.projects-title-text {
    font-family: "Champagne";
    font-size: 1.8rem;
    font-weight: 300;
}
.projects-title-line {
    width: 168.84px;
    height: 2px;
    background-color: var(--green);
}
.projects-cards-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}
.grid-projects-container {
    display: grid;
    grid-template: auto / 1fr;
    justify-items: center;
}
.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;   
    max-width: 340px;
    margin: 25px 0;
    background: white;
    -webkit-box-shadow: -7px 7px 11px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -7px 7px 11px 0px rgba(0,0,0,0.25);
    box-shadow: -7px 7px 11px 0px rgba(0,0,0,0.25);
}
.project-title {
    margin: 10px 0;
}
.project-image {
    width: 90%;
    border: 1px solid rgba(0,0,0,0.2);
}
.project-buttons-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}
.view-project-button {
    display: flex;
    width: 125px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Champagne";
    font-size: 0.8rem;
    color: black;
    background-color: var(--green);
    border: 0px;
    border-radius: 35px;
}
.fa-eye, .fa-github {
    margin: 0 5px;
}
.view-code-button {
    display: flex;
    width: 125px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Champagne";
    font-size: 0.8rem;
    color: white;
    background-color: #24292e;
    border: 0px;
    border-radius: 35px;
}

/* Contact section  */

.contact-section {
    width: 100%;
    min-width: 320px;
    padding-bottom: 80px;
    background-color: var(--see-more-background);
}
.contact-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    padding-top: 30px;
    color: white;
    background-color: var(--see-more-background);
}
.contact-title-text {
    font-family: "Champagne";
    font-size: 1.8rem;
    font-weight: 300;
}
.contact-title-line {
    width: 170px;
    height: 2px;
    background-color: var(--green);
}
.grid-contact-container {
    display: grid;
    grid-template: auto / 1fr;
    gap: 25px 0;
    justify-items: center;
    margin-top: 25px;
}
.form-container {
    width: 90%;
    max-width: 400px;
}
.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 150px;
    text-align: center;
    color: white;
    background-color: var(--contact-card-background);
}
.contact-card__title {

}
.fill-form-title {
    margin-bottom: 30px;
}
.contact-card__button {
    display: flex;
    width: 200px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    background-color: var(--green);
    border-radius: 35px;
}
.fa-envelope, .fa-whatsapp {
    margin: 0 5px;
    font-size: 1rem;
}
.whatsapp-button {
    background-color: var(--whatsapp-button);
}
.email-button {
    background-color: var(--email-button);
}
.contact-form {
    text-align: left;
    height: 500px;
}
.form-text {
    font-size: 0.7rem;
}
.form-input {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    outline: none;
}
.form-input::placeholder {
    font-family: "Champagne";
    font-size: 0.7rem;
}
.message-field {
    outline: none;
    height: 70px;
}
.form-submit {
    display: flex;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;

    outline: none;
    font-family: "Champagne";
    font-size: 0.8rem;
    color: black;
    background-color: var(--green);
    border: 0px;
    border-radius: 35px;
}
.footer-section {
    width: 100%;
    min-width: 320px;
    padding: 20px 5px;
    color: white;
    background-color: var(--footer-background);
}
.footer-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    width: 50%;
    max-width: 200px
}
.social-media-container {
    display: flex;
    padding-right: 6px;
}
.social-media__twitter, .social-media__linkedin {
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
}
.social-media__twitter a, .social-media__linkedin a {
    font-size: 0.6rem;
    color: white;
}