.header {
    width: 95%;
}
.welcome-greetings {
    font-size: 1.7rem;
    font-weight: lighter;
}
.welcome-title {
    margin: 10px 0;
    font-size: 2.2rem;
    font-weight: lighter;
}
.welcome-text {
    font-size: 1.2rem;
}
.see-more__text {
    font-size: 1rem;
}
.projects-title {
    height: 120px;
}
.projects-title-text {
    font-size: 2.2rem;
}
.projects-title-line {
    width: 206.38px;
}
.grid-projects-container {
    grid-template: auto / auto auto;
    justify-items: center;
    justify-content: center;
}
.view-project-button {
    width: 132px;
}
.view-code-button {
    width: 132px;
}
.contact-title {
    height: 150px;
    padding-top: 50px;
}
.contact-title-text {
    font-size: 2.2rem;
}
.contact-title-line {
    width: 207.77px;
}